body {
    margin: 0;
}

* {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 810px;
    background-position: center;
    background-image: url(../images/bg_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.intro__inner {
    
    text-align: center;
}

.intro_title {
    font-family: 'Russo One', sans-serif;
    font-size: 48px;
    color: #fff;
    font-weight: bold;
}

.intro_subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #fff;
    font-weight: normal;
}

/* Advans */

.advanc {
    display: flex;
    justify-content: center;
    margin: 70px auto 0px ;
    text-align: center;
}

.advanc_box {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 160px;
    border: 3px solid white;
    margin: 0 30px 0;
    border-top: none;
}

.advanc_box::before {
    content: "";
    display: block;
    width: 100px;
    border-top: 3px solid white;
}

.advanc_box::after {
    content: "";
    display: block;
    
    width: 100px;
    
    border-top: 3px solid white;
}

.title_advanc {
    position: relative;
    right: 18px;
    bottom: -10px;
}

.sub_title_advanc {
    position: relative;
    top: -20px;
    right: 18px;
}

.image_one {
    display: block;
    background-image: url(../images/favorit_icon.png);
    background-repeat: no-repeat;
    position: relative;
    top: -14px;
    width: 36px;
    height: 34px;
    margin: 0 auto;
}


.image_two {
    display: block;
    background-image: url(../images/tables_icon.png);
    background-repeat: no-repeat;
    position: relative;
    top: -14px;
    width: 36px;
    height: 38px;
    margin: 0 auto;
}

.image_free {
    display: block;
    background-image: url(../images/saphir_icon.png);
    background-repeat: no-repeat;
    position: relative;
    top: -14px;
    width: 38px;
    height: 34px;
    margin: 0 auto;
}

.advanc h1 {
    font-size: 48px;
    color: white;
}

.advanc p {
    font-size: 18px;
    color: white;
}

/* About Us */

.about_us::after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #adadad;
}

.navbar {
    color: blue;
} */

.nav_link {
    color: black;
}

.nav_link:hover {
    color: #f6ae48;
}
